meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1")
title Shell's Link Checker
link(href='/css/uikit.min.css', type='text/css', rel='stylesheet')
link(href='/css/uikit-rtl.min.css', type='text/css', rel='stylesheet')