include ./header
body
    nav.uk-navbar-container.uk-navbar-transparent.uk-heading-divider(uk-navbar="")
        menu
    .uk-container.uk-container-large.uk-position-relative
        page
    include ./footer