.uk-navbar-center
    ul(uk-tab="")
        li#login
            a(href="") Login
                span(uk-icon="icon: sign-in")
        li#register
            a(href="") Register
                span(uk-icon="icon: file-edit")