.uk-position-relative.uk-margin-large
    ul.uk-float-left(uk-tab="")
        li
            a(href="") Logout
                span(uk-icon="icon: sign-out")
        li
            a(href="") Projects
                span(uk-icon="icon: database")
        li
            a(href="") Settings
                span(uk-icon="icon: settings")