div(uk-grid="")
    .uk-width-1-3
    form(uk-form="").uk-width-1-3
        .uk-text-center
            .uk-margin.uk-margin-top
                .uk-inline
                    span.uk-form-icon(uk-icon="icon: tag")
                    input.uk-input(placeholder="First Name")
                    span.uk-form-icon(uk-icon="icon: tag")
                    input.uk-input(placeholder="Last Name")
            .uk-margin
                .uk-inline
                    span.uk-form-icon(uk-icon="icon: mail")
                    input.uk-input(placeholder="Email")
            .uk-margin
                .uk-inline
                    span.uk-form-icon(uk-icon="icon: user")
                    input.uk-input(placeholder="Username")
            .uk-margin
                .uk-inline
                    span.uk-form-icon(uk-icon="icon: lock")
                    input.uk-input(placeholder="Password" type="password")
            .uk-margin
                .uk-inline
                    buttom.uk-button.uk-button-primary Login
                        span.uk-icon(uk-icon="icon: sign-in")
    .uk-width-1-3